[credential]
	helper = store

[user]
	name = codea-ppp
	email = yangshuxuanplus@gmail.com

[alias]
	# thanks to https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git/34467298#34467298
	lg = log --graph --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

[pull]
	rebase = false